@use "~ag-grid-community/styles" as ag;

@include ag.grid-styles((
    theme: alpine,
    --ag-header-foreground-color: deeppink
));

ag-grid-angular {
    height: 250px !important;
    .ag-header {
        background-color: red !important;
        .ag-header-cell {
            background-color: green !important;
        }
    }


}
