<link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css" type="text/css">

<ng-container *ngIf="!rows && !error_message">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div class="p-24">
            <mat-spinner [diameter]="50"></mat-spinner>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="error_message">
    <div fxLayout="row" fxLayoutAlign="end center">
        <div fxFlex="100">
            {{error_message}}
        </div>
    </div>
</ng-container>

<ng-container *ngIf="rows">
    <div class="dialog-content-wrapper">
        <mat-toolbar class="mat-accent m-0" *ngIf="!disable_form_title_bar">
            <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title" *ngIf="entity.get_title() === null">
                <ng-container *ngIf="entity.get_key_value()">Редактировать запись</ng-container>
                <ng-container *ngIf="!entity.get_key_value()">Создать запись</ng-container>
            </span>
                <span class="title dialog-title" *ngIf="entity.get_title() !== null">Создание записи {{entity.get_title()}}</span>
                <button mat-icon-button (click)="close()" aria-label="Закрыть">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <form  [formGroup]="form" (ngSubmit)="save()">

            <ng-container *ngIf="!disable_mat_dialog_content_tag">
                <ng-container *ngTemplateOutlet="inner_form_mat_dialog_content_selector; context: {rows:rows, tabs_keys:tabs_keys, form_inited:form_inited, form:form}">
                </ng-container>
            </ng-container>

            <ng-container *ngIf="disable_mat_dialog_content_tag">
                <ng-container *ngTemplateOutlet="inner_form_empty_selector; context: {rows:rows, tabs_keys:tabs_keys, form_inited:form_inited, form:form}">
                </ng-container>
            </ng-container>

            <div mat-dialog-actions class="m-0 p-8" fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                    <button *ngIf="!disable_save_button" mat-raised-button type="submit" color="accent"  aria-label="Сохранить изменения" matTooltip="Сохранить изменения">
                        Сохранить
                    </button>
                    <button *ngIf="!disable_cancel_button" mat-raised-button type="button" (click)="close()" aria-label="Не сохранять и закрыть форму" matTooltip="Не сохранять и закрыть форму">
                        Отмена
                    </button>

                </div>
                <button *ngIf="entity.key_value != null && !disable_delete" mat-icon-button (click)="delete()" type="button" aria-label="Удалить запись" matTooltip="Удалить запись">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </form>
    </div>
<!--

    <div class="modal-content__comments" *ngIf="entity.is_enable_comment() && this.modelService.get_access('comment', 'access')">
        <comments-apps [entity]="_data" (onToggle)="onCommentToggle($event)"></comments-apps>
    </div>

-->
</ng-container>

<ng-template #inner_form_mat_dialog_content_selector let-rows="rows" let-tabs_keys="tabs_keys" let-form_inited="form_inited" let-form="form">
    <div mat-dialog-content class="{{getCommentHeightFix()}} mat-dialog-content-fixed-width p-12 m-0">
        <ng-container *ngTemplateOutlet="inner_form; context: {rows:rows, tabs_keys:tabs_keys, form_inited:form_inited, form:form}">
        </ng-container>
    </div>
</ng-template>

<ng-template #inner_form_empty_selector let-rows="rows" let-tabs_keys="tabs_keys" let-form_inited="form_inited" let-form="form">
    <div class="{{getCommentHeightFix()}} mat-dialog-content-fixed-width p-12 m-0">
        <ng-container *ngTemplateOutlet="inner_form; context: {rows:rows, tabs_keys:tabs_keys, form_inited:form_inited, form:form}">
        </ng-container>
    </div>
</ng-template>


<ng-template #inner_form let-rows="rows" let-tabs_keys="tabs_keys" let-form_inited="form_inited" let-form="form">
    <div *ngIf="rows">
        <ng-container *ngIf="tabs_keys && form_inited">
            <ng-container *ngIf="tabs_keys.length > 1">
                <mat-tab-group dynamicHeight>
                    <mat-tab *ngFor="let tab of tabs_keys" label="{{tab}}">
                        <ng-template matTabContent>
                            <ng-container *ngTemplateOutlet="tab_item; context: {tab:tab, form:form}">
                            </ng-container>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </ng-container>
            <ng-container *ngIf="tabs_keys.length == 1">
                <ng-container *ngTemplateOutlet="tab_item; context: {tab:tabs_keys[0], form:form}">
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</ng-template>

<ng-template #tab_item let-tab="tab" let-form="form">
    <div [formGroup]="form" fxLayout="column" fxLayoutAlign="start start"  class="flex_wrap" *ngIf="tabs">

<!--
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="col-12">
                <label for="inputAddress2" class="form-label">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="inputZip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
-->

        <div class="row g-3">
        <ng-container *ngFor="let x of tabs[tab]">
                <div class="col-md-6" *ngIf="x && records[x] && records[x].name">
                    <label for="{{records[x].name}}" class="form-label">{{records[x].title}}</label>
                    <input type="text" class="form-control" [formControlName]="records[x].name" id="{{records[x].name}}">
                </div>
        </ng-container>
        </div>

        <ng-container *ngIf="false">
            <ng-container *ngFor="let x of tabs[tab]">
            <span
                *ngIf="records[x] && records[x].name"
                class="{{get_flex_padding('xl', entity.get_form_type(), records[x])}}"
                fxFlex.xl="{{get_flex_width('xl', entity.get_form_type(), records[x])}}"
                fxFlex.lg="{{get_flex_width('lg', entity.get_form_type(), records[x])}}"
                fxFlex.lt-md="{{get_flex_width('md', entity.get_form_type(), records[x])}}"
                fxFlex.md="{{get_flex_width('md', entity.get_form_type(), records[x])}}"
                fxFlex.xs="{{get_flex_width('xs', entity.get_form_type(), records[x])}}"
                fxFlex.gt-xs="{{get_flex_width('xs', entity.get_form_type(), records[x])}}"
                [hidden]="records[x].hidden || records[x].type == 'hidden'"
            >

                <span *ngIf="records[x]" [ngSwitch]="records[x].type">

                    <input *ngSwitchCase="'hidden'" [hidden]="true" readonly matInput [formControlName]="records[x].name" placeholder="{{records[x].title}}">


                    <mat-form-field [appearance]="get_appearance()" *ngSwitchCase="'primary_key'" [hidden]="records[x].hidden">
                        <mat-label [innerHTML]="records[x].title"></mat-label>
                        <input class="disabled-text" readonly matInput [formControlName]="records[x].name" placeholder="{{records[x].title}}">
                    </mat-form-field>

                    <mat-form-field [appearance]="get_appearance()" *ngSwitchCase="'date'" [hidden]="records[x].hidden">
                        <mat-label [innerHTML]="records[x].title"></mat-label>
                        <input matInput [formControlName]="records[x].name" [required]="records[x].required_boolean" (click)="dp.open()" [matDatepicker]="dp" placeholder="{{records[x].title}}">
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp
                                        panelClass="example-month-picker">
                        </mat-datepicker>
                    </mat-form-field>

                    <mat-form-field [appearance]="get_appearance()" *ngSwitchCase="'dttime'" [hidden]="records[x].hidden">
                        <mat-label [innerHTML]="records[x].title"></mat-label>
                        <input matInput [formControlName]="records[x].name" [required]="records[x].required_boolean" [ngxTimepicker]="picker" [format]="24" placeholder="{{records[x].title}}">
                        <mat-icon matSuffix>access_time</mat-icon>
                        <ngx-material-timepicker #picker></ngx-material-timepicker>
                    </mat-form-field>

                    <mat-form-field [appearance]="get_appearance()" *ngSwitchCase="'dtdatetime'" [hidden]="records[x].hidden">
                        <mat-label [innerHTML]="records[x].title"></mat-label>
                        <input matInput [formControlName]="records[x].name" [required]="records[x].required_boolean" (click)="dp.open()" [matDatepicker]="dp" placeholder="{{records[x].title}}">
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp
                                        panelClass="example-month-picker">
                        </mat-datepicker>
                    </mat-form-field>

                    <mat-form-field [appearance]="get_appearance()" *ngSwitchCase="'docuploads'">
                        <mat-label [innerHTML]="records[x].title"></mat-label>
                        <input [formControlName]="records[x].name" matInput [hidden]="true">
                        <ng-container *ngIf="records[x].value.length > 0">
                            <span *ngFor="let doc of records[x].value">
                                <a href="{{doc.normal_url}}" target="_blank">{{doc.normal}}</a> |
                            </span>
                        </ng-container>
                    </mat-form-field>

                    <mat-form-field [appearance]="get_appearance()" *ngSwitchCase="'dtdate'" [hidden]="records[x].hidden">
                        <mat-label [innerHTML]="records[x].title"></mat-label>
                        <input matInput [formControlName]="records[x].name" [required]="records[x].required_boolean" (click)="dp.open()" [matDatepicker]="dp" placeholder="{{records[x].title}}">
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp
                                        panelClass="example-month-picker">
                        </mat-datepicker>
                    </mat-form-field>

                    <!--

                                    <uploader-component
                                        *ngSwitchCase="'uploads'"
                                        [hidden]="records[x].hidden"
                                        [galleryImages]="galleryImages"
                                        [uploader_title]="records[x].title"
                                        [entity]="entity"
                                        [image_field]="records[x].name">

                                    </uploader-component>

                                    <uploader-component
                                        *ngSwitchCase="'photo'"
                                        [hidden]="records[x].hidden"
                                        [galleryImages]="galleryImages"
                                        [entity]="entity"
                                        [uploader_title]="records[x].title"
                                        [image_field]="records[x].name"
                                        [max_uploads]="1">

                                    </uploader-component>

                    -->


                    <span *ngSwitchCase="records[x].type === 'select_box_structure' || records[x].type === 'select_box_structure_simple_multiple'  || records[x].type === 'select_box_structure_multiple_checkbox'? records[x].type : ''" [hidden]="records[x].hidden">
                        <ng-select [formControlName]="records[x].name"
                                   [required]="records[x].required_boolean"
                                   appendTo="body"
                                   bindValue="id"
                                   bindLabel="name"
                                   [items]="options_storage[records[x].name]"
                                   [clearOnBackspace]="false"
                                   [searchable]="true"
                                   [multiple]="records[x].type === 'select_box_structure_simple_multiple' || records[x].type === 'select_box_structure_multiple_checkbox'"
                                   [hideSelected]="false"
                                   (change)="apply_topic_activity()"
                                   [closeOnSelect]="records[x].type !== 'select_box_structure_simple_multiple' && records[x].type !== 'select_box_structure_multiple_checkbox'"
                                   placeholder="{{records[x].title}}">
                            <ng-template ng-label-tmp let-item="item" let-index="index">
                                <span [innerHTML]="item.breadcrumbs">
                                </span>
                            </ng-template>

                            <ng-template ng-option-tmp let-item="item" let-index="index">

                                <span [innerHTML]="item.name" class="level{{item.level}}">
                                </span>
                            </ng-template>
                        </ng-select>
                        <mat-error *ngIf="form.controls[records[x].name].status == 'INVALID' && form_submitted">{{records[x].title}} обязательное поле!</mat-error>
                        <mat-hint align="end" *ngIf="records[x].hint" [innerHTML]="records[x].hint"></mat-hint>
                    </span>

                    <span
                        *ngSwitchCase="records[x].type === 'select_by_query' ||
                        records[x].type === 'select_by_query_multiple'  ||
                        records[x].type === 'select_by_query_multi'? records[x].type : '' "
                        [hidden]="records[x].hidden">
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <div fxFlex.gt-xs="85" fxFlex.xs="80" class="min-select">
                                <ng-select [formControlName]="records[x].name"
                                           [required]="records[x].required_boolean"
                                           appendTo="body"
                                           class="auto-grow"
                                           bindValue="id"
                                           bindLabel="value"
                                           [items]="options_storage_buffer[records[x].name]"
                                           [virtualScroll]="true"
                                           [loading]="loading"
                                           (scroll)="onScroll($event, records[x].name)"
                                           (scrollToEnd)="onScrollToEnd(records[x].name)"
                                           [clearOnBackspace]="false"
                                           [searchable]="true"
                                           [typeahead]="input$"
                                           (search)="onSearch(records[x].name)"
                                           [multiple]="records[x].type === 'select_by_query_multiple' || records[x].type === 'select_by_query_multi'"
                                           (focus)="init_select_by_query_options(records[x].name)"
                                           [hideSelected]="false"
                                           [closeOnSelect]="records[x].type !== 'select_by_query_multiple' && records[x].type !== 'select_by_query_multi'"
                                           placeholder="{{records[x].title}}">
                                    <ng-template ng-label-tmp let-item="item" let-index="index">
                                        <span [innerHTML]="item.value">
                                        </span>
                                    </ng-template>

                                    <ng-template ng-option-tmp let-item="item" let-index="index">
                                        <span [innerHTML]="item.value">
                                        </span>
                                    </ng-template>
                                </ng-select>
                                <mat-error *ngIf="form.controls[records[x].name].status == 'INVALID' && form_submitted">{{records[x].title}} обязательное поле!</mat-error>
                                <mat-hint align="end" *ngIf="records[x].hint" [innerHTML]="records[x].hint"></mat-hint>
                            </div>

                            <!--
                                                    <div fxFlex.gt-xs="5" fxFlex.xs="10" class="pt-4 mr-16"  *ngIf="modelService.get_access(records[x].primary_key_table, 'access')">
                                                        <a mat-mini-fab (click)="inline_create(records[x])" color="fuse-white" matTooltip="Добавить запись">
                                                            <mat-icon>add</mat-icon>
                                                        </a>
                                                    </div>
                            -->

                        </div>
                    </span>

                    <span *ngSwitchCase="'select_box'" [hidden]="records[x].hidden">

                        <ng-select [formControlName]="records[x].name"
                                   [required]="records[x].required_boolean"
                                   appendTo="body"
                                   bindValue="id"
                                   bindLabel="value"
                                   [items]="options_storage[records[x].name]"
                                   [clearOnBackspace]="false"
                                   [searchable]="false"
                                   [multiple]="false"
                                   [hideSelected]="false"
                                   [closeOnSelect]="true"
                                   placeholder="{{records[x].title}}">
                            <ng-template ng-label-tmp let-item="item">
                                <span [innerHTML]="item.value">
                                </span>
                            </ng-template>

                            <ng-template ng-option-tmp let-item="item" let-index="index">
                                <span [innerHTML]="item.value">
                                </span>
                            </ng-template>
                        </ng-select>

                        <mat-error *ngIf="form.controls[records[x].name].status == 'INVALID' && form_submitted">{{records[x].title}} обязательное поле!</mat-error>
                        <mat-hint align="end" *ngIf="records[x].hint" [innerHTML]="records[x].hint"></mat-hint>
                    </span>

                    <span *ngSwitchCase="'checkbox'">
                        <mat-checkbox
                            [hidden]="records[x].hidden"
                            class="form-checkbox"
                            [required]="records[x].required_boolean"
                            matInput
                            [formControlName]="records[x].name">
                            <div [innerHTML]="records[x].title" class="checkbox-wrap"></div>
                        </mat-checkbox>

                        <mat-hint align="end" *ngIf="records[x].hint" [innerHTML]="records[x].hint"></mat-hint>
                    </span>

                    <mat-form-field [hidden]="records[x].hidden" *ngSwitchCase="'textarea_editor'">

    <!--
                        <quill-editor
                            [(ngModel)]="text_area_editor_storage[records[x].name]"
                            (ngModelChange)="onChangeTextarea($event, records[x].name)"
                            [modules]="quillConfig"
                            [ngModelOptions]="{standalone: true}"></quill-editor>
    -->

                        <input [formControlName]="records[x].name" matInput [hidden]="true">
                        <mat-error>{{records[x].title}} обязательное поле!</mat-error>
                        <mat-hint align="end" *ngIf="records[x].hint" [innerHTML]="records[x].hint"></mat-hint>
                    </mat-form-field>

                    <span [hidden]="records[x].hidden" *ngSwitchCase="'geodata'">

                        <div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <span fxFlex="100">Координаты</span>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field fxFlex="50" class="pr-4">
                                    <input matInput [(ngModel)]="lat" placeholder="lat" [ngModelOptions]="{standalone: true}" [required]="records[x].required_boolean">
                                </mat-form-field>
                                <mat-form-field fxFlex="50" class="pl-4">
                                    <input matInput [(ngModel)]="lng" placeholder="lng" [ngModelOptions]="{standalone: true}" [required]="records[x].required_boolean">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field fxFlex="100">

    <!--
                                    <ya-map [latitude]="55.76" [longitude]="37.64" (mapClick)="mapClick($event)">
                                        <ya-marker
                                                   [latitude]="lat"
                                                   [longitude]="lng"
                                                   [draggable]="true"
                                                   >
                                        </ya-marker>
                                    </ya-map>
    -->

                                    <!--
                                                                    <agm-map [latitude]="lat_center" [longitude]="lng_center" (mapClick)="mapClick($event)">
                                                                        <ng-container *ngIf="lat != '' && lng != ''">
                                                                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                                                        </ng-container>
                                                                    </agm-map>
                                    -->

                                    <input [formControlName]="records[x].name" matInput [hidden]="true">
                                    <mat-error>{{records[x].title}} обязательное поле!</mat-error>
                                    <mat-hint align="end" *ngIf="records[x].hint" [innerHTML]="records[x].hint"></mat-hint>
                                </mat-form-field>

                            </div>

                        </div>



                    </span>

                    <mat-form-field [appearance]="get_appearance()" [hidden]="records[x].hidden" *ngSwitchCase="'textarea'">
                        <mat-label [innerHTML]="records[x].title"></mat-label>
                        <textarea matInput matTextareaAutosize [formControlName]="records[x].name" [required]="records[x].required_boolean" placeholder="{{records[x].title}}"></textarea>
                        <mat-error>{{records[x].title}} обязательное поле!</mat-error>
                        <mat-hint align="end" *ngIf="records[x].hint" [innerHTML]="records[x].hint"></mat-hint>
                    </mat-form-field>

                    <mat-form-field [hidden]="records[x].hidden" *ngSwitchCase="'password'">
                        <mat-label [innerHTML]="records[x].title"></mat-label>
                        <input matInput type="password" [formControlName]="records[x].name" [required]="records[x].required_boolean" placeholder="{{records[x].title}}">
                        <mat-error>{{records[x].title}} обязательное поле!</mat-error>
                        <mat-hint align="end" *ngIf="records[x].hint" [innerHTML]="records[x].hint"></mat-hint>
                    </mat-form-field>


                    <!--
                                    <div [hidden]="records[x].hidden" *ngSwitchCase="'injector'">
                                        <sb-booking *ngIf="records[x].name === 'booking'" [keyValue]="entity.key_value"></sb-booking>
                                        <house-schema-builder *ngIf="records[x].name === 'house_schema_builder'" [keyValue]="entity.key_value"></house-schema-builder>
                                        <user-profile *ngIf="records[x].name === 'user_profile'" [user_id]="this.modelService.get_user_id()"></user-profile>
                                        <mat-hint align="end" *ngIf="records[x].hint" [innerHTML]="records[x].hint"></mat-hint>
                                    </div>
                    -->


                    <!--
                                    <mat-form-field [hidden]="false" *ngSwitchCase="'parameter'">
                                        <json-editor [json]="form.controls[records[x].name].value" (onChange)="updateParametersStorage($event, records[x].name)"></json-editor>
                                        <input [formControlName]="records[x].name" matInput [hidden]="true">
                                    </mat-form-field>
                    -->



                    <mat-form-field [appearance]="get_appearance()" [matTooltip]="records[x].title"  [hidden]="records[x].hidden" *ngSwitchDefault>
                        <mat-label [innerHTML]="records[x].title"></mat-label>
                        <input matInput [formControlName]="records[x].name" [required]="records[x].required_boolean" placeholder="{{records[x].title}}">
                        <mat-error>{{records[x].title}} обязательное поле!</mat-error>
                        <mat-hint align="end" *ngIf="records[x].hint" [innerHTML]="records[x].hint"></mat-hint>
                    </mat-form-field>
                </span>
            </span>

            </ng-container>
        </ng-container>
    </div>
</ng-template>
